<?xml version="1.0" encoding="utf-8"?>
<objects>
	<object id="CreateFactory" type="SampleImpl.CreateFactory, SampleImpl">
	</object>
	<object id="HelloWorld1" factory-object="CreateFactory" factory-method="Create">
	</object>
	<object id="HelloWorld2" type="SampleImpl.HelloWorld, SampleImpl" singleton="true" lazy-init="true" init-method="Initialize" destroy-method="Dispose">
	</object>
	<object id="ReferencePerson" type="SampleImpl.Person, SampleImpl">
	</object>
	<object id="HelloWorld3" type="SampleImpl.HelloWorld, SampleImpl">
		<constructor-arg index="1" value="hello" />
		<constructor-arg index="2" type="string" value="world" />
		<constructor-arg name="separator" value="," />
		<constructor-arg name="receiver" ref="ReferencePerson" />
		<property name="DefaultProp" value="Tom" />
		<property name="ReferenceProp" ref="ReferencePerson" />
		<property name="NullProp">
			<null />
		</property>
		<property name="ListProp">
			<list element-type="SampleImpl.ListObject, SampleImpl">
				<value>a list element followed by a reference</value>
				<ref object="ReferencePerson" />
			</list>
		</property>
		<property name="SetProp">
			<set element-type="SampleImpl.ListObject, SampleImpl">
				<value>just some string</value>
				<ref object="ReferencePerson" />
			</set>
		</property>
		<property name="DictionaryProp">
			<dictionary key-type="object" value-type="SampleImpl.ListObject, SampleImpl">
				<entry key="a string =&gt; string entry" value="just some string" />
				<entry key-ref="ReferencePerson" value-ref="ReferencePerson" />
				<entry key="0">
					<value>1 + 1</value>
				</entry>
			</dictionary>
		</property>
		<property name="NameValueProp">
			<name-values>
				<add key="HarryPotter" value="The magic property" />
				<add key="JerrySeinfeld" value="The funny (to Americans) property" />
			</name-values>
		</property>
	</object>
	<object id="EventHandler" type="SampleImpl.EventHandler, SampleImpl">
	</object>
	<object id="HelloWorld4" type="SampleImpl.HelloWorld, SampleImpl">
		<!-- wired up to a static event -->
		<listener event="StaticClick" method="HandleEvent">
			<ref type="SampleImpl.StaticEventHandler, SampleImpl" />
		</listener>
		<!-- wired up to an event exposed on an instance -->
		<listener event="Click" method="HandleEvent">
			<ref object="EventHandler" />
		</listener>
	</object>
</objects>